
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <label>Name</label>
    <input type="text" name="Name"   class="form-control" required />
    <label>Type</label>
    <input type="text" name="Type" class="form-control" required />
    <label>Cost</label>
    <input type="text" name="Cost" class="form-control" required/>
    <button class=" btn btn-info" type="submit"> Save</button>
</form>